.container
{
    position: relative;   
}
.container_busy
{
    pointer-events : none;
}

.modal
{
    pointer-events: none;
    opacity: 0.8;
    background: white;
    position: absolute;    
   
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing : border-box;
}

