.sign-up-transition-enter 
{
    opacity: 0;
}

.sign-up-transition-enter-active
{
    opacity: 1;
    transition: opacity 300ms;
}

.sign-up-transition-exit
{
    opacity: 1;
}
sign-up-transition-exit-active 
{
    opacity: 0;
    transition: opacity 300ms;
}
